* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    height: 100%; background: #FFF;
    display: flex; 
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 100px;
    background-clip: padding-box; /* !importanté */
    border: solid 5px transparent; /* !importanté */
    border-radius: 1em;
   

}

&:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -5px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(blue, 10%, pink);
    /*background: linear-gradient(to right, red, orange);*/
}

h1 {
    margin: 30px 0 50px 0;
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 80%;
    max-width: 1080px;
    margin-left: 350px;
    color: #FFF;
    background-clip: padding-box; /* !importanté */
    border: solid 10px violet; /* !importanté */
    border-radius: 5em;
    text-align: center;
}

.container p {
    margin-bottom: 30px;
}

.container .gif {
    width: 50%;
    margin: auto;
}
.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}








